<nav>
    <ul>
        <li>
            <div class="user-profile-image">
                <img src=".././../.././../assets/Images/userprofile.jpg"/>
            </div>
        </li>
        <li>
            <a [routerLink]="['/dashboard']"> 
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Dashboard
            </a>
        </li>
        <li>
            <a [routerLink]="['/dashboard/product']"> 
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Products
            </a>
        </li>
        <li>
            <a [routerLink]="['/dashboard/inventory']"> 
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Inventory
            </a>
        </li>
        <li>
            <a [routerLink]="['/dashboard/orders']"> 
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Orders
            </a>
        </li>
        <li>
            <a [routerLink]="['/dashboard/sale']"> 
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Sales
            </a>
        </li>
        <li>
            <a  [routerLink]="['/dashboard/customers']"> 
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Customers
            </a>
        </li>
        <li>
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Logout
            </a>
        </li>
    </ul>
</nav>
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-danger d-flex" style="gap: 10px;" id="exampleModalLabel"><i class="bi bi-box-arrow-left"></i>Logout</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-danger">Confirm to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Logout</button>
        </div>
      </div>
    </div>
  </div>