/* You can add global styles to this file, and also import other style files */
:root{
    --bg-body:#e7f6fc;
    --bg-card:#8ecae6;
    --primary-color:#219ebc;
    --secondory-light:#c8c8c8;
    --secondory-color:#023047;
}
body{
    background-color: var(--bg-body);
    color: var(--text-color-light);
}
.row{
    margin: 0;
}
th{
    padding: 15px 0 15px 0;
}
td{
    min-width:200px !important;
}
// .table{
//     overflow-x: auto;
//    width: 100%;
// }